/**************************************************************************************/
/***************************   fadeOut   **********************************************/
/**************************************************************************************/
/*************************     index       ***************************************/
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register,
/*************************     op          ***************************************/
#topdf_text:target ~ #wrapper #pdf,
#topdf:target ~ #wrapper #pdf_text,
/*************************    ad  **      ***********************************/
#toUserManage:target ~ #table_2,#toUserManage:target ~ #table_3,/*******/
#toSealManage:target ~ #table_1,#toSealManage ~ #table_3,       /*table_1*/
#toAuthorizedSeal:target ~ #table_1,#toAuthorizedSeal:target ~ #table_2    /******/
{   
	-webkit-animation-name: fadeOut;
	-moz-animation-name: fadeOut;
	-ms-animation-name: fadeOut;
	-o-animation-name: fadeOut;
	animation-name: fadeOut;
}

/**************************************************************************************/
/***************************   fadeIn   ***********************************************/
/**************************************************************************************/
/*************************     index       ***************************************/
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login,
/*************************     op          ***************************************/
#topdf_text:target ~ #wrapper #pdf_text,
#topdf:target ~ #wrapper #pdf,
/*************************     ad     ***************************************/
#toUserManage:target ~ #table_1,        /*******/
#toSealManage:target ~ #table_2,        /*table_1*/
#toAuthorizedSeal:target ~ #table_3                /*******/
{
	z-index:2;
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-ms-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	-ms-animation-delay: .1s;
	animation-delay: .1s;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@-moz-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@-ms-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@-o-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.animate{
	-webkit-animation-duration: 0.2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	
	-moz-animation-duration: 0.2s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	
	-o-animation-duration: 0.2s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;
	
	-ms-animation-duration: 0.2s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	
	animation-duration: 0.2s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

/**************************************************************************************/
/***************************   op    **************************************************/
/**************************************************************************************/

