@charset "utf-8";
#main center{
	width:800px;
	height:300px;
	margin:0 auto;
	background-color:#ccc;
	border-width:50px; border-style:solid; border-color:#eee;
	padding:20px;
	}
form{
	width:300px;
	}
label{
	font-size:18px;
	}
input{
	width:200px;
	height:20px;
	background-color:#eee;
	border-color:#eee; border-width:2px; border-style:solid; border-radius:3px;
	float:right;
	}
input:focus{
	border-color:#74DAE7; border-width:2px; border-style:solid;
	}
input[type="submit"]{
	height:25px;
	background-color:#6DCFA6;
	border-color:#6DCFA6; border-width:2px; border-style:solid;
	color:#fff;
	}
input[type="submit"]:hover{
	background-color:#73E0B2;
	border-color:#91EBC5; border-width:2px; border-style:solid;
	}

